# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignored files
*.class
*.log
*.tmp
*.bak
*.swp
*.swo

# Directories
bin/
out/

# Maven
target/

# Eclipse
.settings/
.project
.classpath

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

